<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1">
  <title>Asset</title>
  <link href="/css/scss/main.css" rel="stylesheet">


    <script src="/javascript/map.js"></script>
    <style>
     #map,#pan{
  height:40vh;
      width:100%;
     }
    @media only screen and (min-width: 600px) {
    #map,#pan{
  width:45%;
  }
  #location-container{
  display: flex;
  justify-content: space-between;
}
}




      </style>
</head>

<body class="govuk-template__body">
  {% include "components/header.html" %}
        
  <main class="govuk-width-container">

    {% from "components/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Indexes",
          href: "/catalogue"
        },
        {
          text: index.name,
          href: "/catalogue/" + index.reference
        },
        {
          text: documentType.name,
          href: "/catalogue/" + index.reference + "/document-type/" + documentType.reference
        },
        {
          text: document.name
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl govuk-!-font-size-27 govuk-!-margin-top-4">{{document.name}}</h1>


    <h2 class="govuk-heading-m">Properties</h3>

      <dl class="govuk-summary-list">
            {% for p, property in document.properties %}
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{{ p}}</dt> 
              <dd class="govuk-summary-list__value">
              {% for v in property.values %}
              {{v}}
              {% endfor %}
          
          
              {{property.value}}
      </dd>
      </div>
    
            {% endfor %}
    
          </dl>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVLqUxdgLoBovYi83r-2YZNgvZFlsJR2g&callback=initMap" async defer></script>


            {% if document.locations.length > 0 %}
            <section>
              <h2 class="govuk-heading-m">Location</h2>

                {% for location in document.locations %}


                    <input class="location-lat" type="hidden" value="{{location.latitude}}">
    <input class="location-lng" type="hidden" value="{{location.longitude}}">
    <input class="location-street-lat" type="hidden" value="{{location.streetviewLatitude}}">
    <input class="location-street-lng" type="hidden" value="{{location.streetviewLongitude}}">
    <input class="location-street-heading" type="hidden" value="{{location.streetviewHeading}}">
    <input class="location-street-pitch" type="hidden" value="{{location.streetviewPitch}}">
    
    <section id="location-container">
    <div id="map">


                    </div>
                    <div id="pan">

                    </div>
                  </section>
                {% endfor %}
            </section>
            {% endif %}
    </div>
    </div>

</body>
</html>