<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Homepage</title>
    <link href="/css/main.css" rel="stylesheet">

    
</head>

<body>
    <div class="container">
            {% include "components/header.html" %}
            <div class="row">
                <div class="col-sm-4">
                    <form action="" method="POST">
                     <div class="input-group mb-3">
                    <select class="form-control" name="indexName">
                        <option {% if indexName == 'Brokerage'%} selected {% endif %}>
                            Brokerage
                        </option>
                        <option {% if indexName == 'Advertise'%} selected {% endif %}>
                            Advertise
                        </option>
                    </select>
                    <div class="input-group-append">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                    </div>
                    </div> 
                    </form>
                </div></div> 
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                            <h2 class="heading-2 mt-2 mb-3">Search</h2>
        <form action="" method="POST">
            <h3 class="heading-3 mb-2">Document types</h3>
            {% for documentType in documentTypes %}
                {% include "components/checkbox.html" %}
            {%- endfor %}
            <button class="btn btn-primary mt-3">Search</button>
        </form>
    </div>
    </div>
    </div>
    
    <div class="col-sm-8">
       
       {% if results.length == 0 %} 
            <p>No results found</p>

       {% else %}
        <div class="card">
            <div class="card-body">
                <h2 class="heading-2 mb-3">Found {{results.length}} documents</h2>
                {% for result in results %}
                    {% include "components/search-result-document.html" %}
                {%- endfor %}
            </div>

        </div>
        {% endif %}
    </div>
    </div>
    </div>
</body>
</html>