

{% if property.type == 'Text' %}
<div class="form-group mt-4 mb-4">
    <label class="mb-0" for="{{property.reference}}" class="mb-0">{{property.name}}</label>
    <input class="form-control form-control-sm" type="text" name="{{property.reference}}" value="{{params.properties[property.reference]}}">
</div>
{% endif %}

{% if property.type == 'Checkbox' %}
<p>{{property.name}}</p>
{% for option in property.values %}
<div class="form-group mt-4 mb-4">
    <div class="multiple-choice">
        <input type="checkbox" class="form-control" id="{{property.reference}}-{{loop.index}}" name="{{property.reference}}-{{loop.index}}" >
        <label for="{{property.reference}}-{{loop.index}}"  class="mutliple-choice-label small">{{option}}</label>
    </div>
</div>
{% endfor %}
{% endif %}

{% if property.type == 'List' %}
<div class="form-group mt-4 mb-4">
    <label class="mb-0" for="{{property.reference}}">{{property.name}}</label>
    <select class="form-control form-control-sm" name="{{property.reference}}">
        <option disabled selected>choose</option>
        {% for option in property.values %}
        <option value="{{option}}">{{option}}</option>
        {% endfor %}
    </select>


</div>

{% endif %}


{% if property.type == 'TextArea' %}
<div class="form-gorup mt-4 mb-4">
    <label for="{{property.reference}}">{{property.name}}</label>
    <textarea class="form-control form-control-sm" rows="5" name="{{property.reference}}" id="{{property.reference}}"></textarea>
</div>
{% endif %}